In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('MyCleanData.csv')

In [48]:
coun=pd.read_csv('country.csv')

In [4]:
data.drop(['Unnamed: 0','Drugonly','Interventions'], inplace=True,axis=1)

In [5]:
data.isnull().sum()

Title                    0
Status                   0
Gender                   8
Age                      0
Phases                1798
Enrollment              31
Start.Date              31
Completion.Date         32
Last.Update.Posted       0
Locations              505
URL                      0
MapCountry               0
dtype: int64

In [6]:
dac=data.dropna()

In [14]:
stu=dac[['MapCountry','Phases']]

In [15]:
stu

         MapCountry          Phases
0     United States         Phase 2
2     United States         Phase 2
4     United States         Phase 2
5       Netherlands  Not Applicable
7             India         Phase 2
...             ...             ...
4166         Turkey         Phase 1
4169     Bangladesh         Phase 3
4170         Turkey         Phase 1
4172          China         Phase 1
4173        Belgium         Phase 2

[2051 rows x 2 columns]

In [16]:
stu['Phases'].value_counts()

Not Applicable     698
Phase 2            503
Phase 3            313
Phase 1            147
Phase 2|Phase 3    134
Phase 1|Phase 2    124
Phase 4            102
Early Phase 1       30
Name: Phases, dtype: int64

In [17]:
stu['Phases']=stu['Phases'].map({'Phase 2|Phase 3':'Phase 2',
                                 'Phase 1|Phase 2':'Phase 1',
                                 'Early Phase 1':'Phase 1',
                                 'Phase 2':'Phase 2',
                                 'Phase 3':'Phase 3',
                                 'Phase 4':'Phase 4',
                                 'Not Applicable':'Not Applicable'})

C:\Users\yousif\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [18]:
stu['Phases'].value_counts()

Not Applicable    698
Phase 2           637
Phase 3           313
Phase 1           154
Phase 4           102
Name: Phases, dtype: int64

In [49]:
coun=coun[['country']]

## for loop summing the phases

In [50]:
coun["Phase 1"]=np.nan
coun["Phase 1"].fillna(0, inplace=True)

In [51]:
for i in stu['MapCountry'].unique():
    for j in coun['country']:
        if i==j:
            coun.loc[coun['country']==j, 'Phase 1']=len(stu.loc[(stu['MapCountry']==i)&(stu['Phases']=='Phase 1')])

In [52]:
coun["Phase 2"]=np.nan
coun["Phase 2"].fillna(0, inplace=True)

In [53]:
for i in stu['MapCountry'].unique():
    for j in coun['country']:
        if i==j:
            coun.loc[coun['country']==j, 'Phase 2']=len(stu.loc[(stu['MapCountry']==i)&(stu['Phases']=='Phase 2')])

In [55]:
coun["Phase 3"]=np.nan
coun["Phase 3"].fillna(0, inplace=True)

In [56]:
for i in stu['MapCountry'].unique():
    for j in coun['country']:
        if i==j:
            coun.loc[coun['country']==j, 'Phase 3']=len(stu.loc[(stu['MapCountry']==i)&(stu['Phases']=='Phase 3')])

In [57]:
coun["Phase 4"]=np.nan
coun["Phase 4"].fillna(0, inplace=True)

In [58]:
for i in stu['MapCountry'].unique():
    for j in coun['country']:
        if i==j:
            coun.loc[coun['country']==j, 'Phase 4']=len(stu.loc[(stu['MapCountry']==i)&(stu['Phases']=='Phase 4')])

In [59]:
coun["Not Applicable"]=np.nan
coun["Not Applicable"].fillna(0, inplace=True)

In [60]:
for i in stu['MapCountry'].unique():
    for j in coun['country']:
        if i==j:
            coun.loc[coun['country']==j, 'Not Applicable']=len(stu.loc[(stu['MapCountry']==i)&(stu['Phases']=='Not Applicable')])

In [61]:
coun

                  country  Phase 1  Phase 2  Phase 3  Phase 4  Not Applicable
0                 Albania      0.0      0.0      0.0      0.0             0.0
1                 Algeria      0.0      0.0      0.0      0.0             0.0
2                  Angola      0.0      0.0      0.0      1.0             0.0
3               Argentina      0.0     11.0     12.0      4.0             4.0
4                 Armenia      0.0      0.0      1.0      0.0             0.0
..                    ...      ...      ...      ...      ...             ...
98                Ukraine      1.0      0.0      1.0      0.0             0.0
99              Undefined      2.0      1.0      1.0      1.0             3.0
100  United Arab Emirates      1.0      0.0      0.0      0.0             0.0
101        United Kingdom      4.0     18.0      5.0      3.0            33.0
102         United States     44.0    192.0     38.0     29.0           142.0

[103 rows x 6 columns]

In [62]:
coun.to_csv('country_p.csv',index=False)